* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Nunito", sans-serif;
  width: 100%;
}
.flex {
  display: flex;
}
p {
  font-size: 2rem;
}
/** HEADER STYLES **/
#header {
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  width: 100%;
  background-color: white;
}
#logo {
  justify-content: center;
}
#header-img {
  width: 30px;
  height: 30px;
}

#brand-name {
  margin-top: auto;
  margin-bottom: auto;
}
#nav-bar {
  justify-content: space-around;
  margin-top: 1rem;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
  color: black;
}
/** PRODUCT STYLES **/
#product {
  flex-direction: column;
}
#bck-container {
  width: 100%;
}
#bck-container img {
  max-width: 100%;
}
.dot {
  color: #bf1755;
  font-size: 5rem;
  font-weight: 400;
}
#features {
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
}
/** VIDEO STYLES **/
#video-embed {
  width: 100%;
  margin-top: 50px;
}
iframe {
  width: 100%;
  height: 300px;
}

/** PRICE STYLES **/
#pricing {
  flex-direction: column;
}
.price-box {
  color: black;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(238, 238, 238);
}
.price-info {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.price-box img {
  max-width: 100%;
}

/** FORM STYLES **/
label {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
}
#order-form {
  margin-top: 50px;
  margin-bottom: 30px;
}
label {
  display: block;
}
form {
  height: 100px;
  text-align: center;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  border: none;
}

#email {
  border-bottom: 1px solid #bf1755;
  height: 30px;
}
#submit {
  padding: 1rem 3rem;
  border-radius: 5px;
  background-color: #bf1755;
}

/** FOOTER STYLES **/
footer {
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
footer p {
  font-weight: 200;
  font-size: 1rem;
}
@media (min-width: 768px) {
  #header-img {
    width: 50px;
    height: 50px;
  }
  #nav-bar {
    font-size: 1.5rem;
  }
  #product {
    flex-direction: row;
  }
  #bck-container {
    width: 50%;
  }
  #features {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  #features p {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .dot {
    font-size: 7rem;
    font-weight: 600;
  }
  #pricing {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .price-box {
    width: 30%;
  }

  #order-form {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  #features p {
    font-size: 3rem;
  }
  #header {
    flex-direction: row;
    justify-content: space-between;
  }
  #nav-bar {
    width: 50%;
    justify-content: space-around;
  }
  #logo {
    justify-content: flex-start;
    margin-left: 20px;
  }
}
